In [2]:
import pandas as pd

df = pd.read_csv("../input-data/WorldCups.csv", index_col=0)
df

,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [4]:
import boto3
from io import BytesIO

In [5]:
!pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-16.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.8 MB)
Requirement already satisfied: numpy>=1.16.6 in /home/lkeiti/Documents/dnc-data-engineer/.env/lib/python3.10/site-packages (from pyarrow) (1.26.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-16.0.0

In [6]:
buffer = BytesIO()
df.to_parquet(buffer, engine="pyarrow")

df

,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [7]:
s3_client = boto3.client('s3')

bucket_name = "dnc-lucas-tutorial-class"
file_key = "loading/full_data.parquet"

In [8]:
s3_client.upload_fileobj(buffer, bucket_name, file_key)

In [9]:
list(df.columns)

['Country',
 'Winner',
 'Runners-Up',
 'Third',
 'Fourth',
 'GoalsScored',
 'QualifiedTeams',
 'MatchesPlayed',
 'Attendance']

In [10]:
df.index

Index([1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982,
       1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014],
      dtype='int64', name='Year')

In [11]:
df = df.reset_index()
df

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [13]:
df["Year"] = df["Year"].astype(str)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     object
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(3), object(7)
memory usage: 1.7+ KB

In [24]:
import pyarrow
import pyarrow.parquet as pq
import s3fs

pq.write_to_dataset(
    pyarrow.Table.from_pandas(df),
    'dnc-lucas-tutorial-class/loading',
    filesystem=s3fs.S3FileSystem(),
    partition_cols=["Year"]
)

In [6]:
import pandas as pd

df = pd.read_csv("../input-data/spotify/track.csv", index_col=0)
df

                        track_popularity
track_id
02MBhqgR7WeeI4ZfB6Lo0i                 0
5j4M4gLYuUy9PVw0vsXWyq                 0
46EucLPJpx0QM3SCjzzdP0                 0
4nK2LvW3osgDT89S38Mcg6                 0
1Pq37WIQZDG7yNFnY5IbqG                 0
...                                  ...
4rXLjWdF2ZZpXCVTfWcshS                93
7MXVkk9YMctZqd1Srtv4MB                94
6uIIdjYTxxpWOyWuVXrKQO                95
4MjDJD8cW7iVeWInc2Bdyj                96
7iQXYTyuG13aoeHxGG28Nh                97

[438938 rows x 1 columns]

In [7]:
import pyarrow
import pyarrow.parquet as pq
import s3fs

pq.write_to_dataset(
    pyarrow.Table.from_pandas(df),
    'dnc-project-data-eng/staging',
    filesystem=s3fs.S3FileSystem()
)